<h3>Nueva subasta</h3>

<%= form_for @subasta, :url => subastas_path do |s| %>
	<div class="form-group">
		<%= s.label :nombre, 'Nombre de la residencia' %>
    	<%= s.text_field :nombre, class: 'form-control', placeholder: "ingrese el nombre de la residencia", required: true %>
    	<%= s.label :monto, 'Monto minimo' %>
    	<%= s.text_field :monto, class: 'form-control', placeholder: "ingrese el monto minimo", required: true %>

	</div>
	<%= s.submit 'guardar', class: 'btn btn-success', :url => subastas_path(s) %>
<%end%>	