<h3>Nueva subasta</h3>

<%= form_for @subasta do |s| %>
	<div class="form-group">
		<%= s.label :nombre, 'Nombre de la residencia' %>
    	<%= s.text_field :nombre, class: 'form-control', placeholder: "ingrese el nombre de la residencia" %>
    	<%= s.label :monto, 'Monto minimo' %>
    	<%= s.text_field :monto, class: 'form-control', placeholder: "ingrese el monto minimo" %>

	</div>
	<%= s.submit 'guardar', class: 'btn btn-success' %>
<%end%>	