<div class="container">
<%= form_for @auction do |auction| %>
	<div class="form-group">
	  <div class="row">
	  	<div class="col-4">
	  	    <%= auction.label :name, 'Nombre'%>
	  		<%= auction.text_field :name, :value => @auction.name,maxlength: 20 ,class: 'form-control' %>
	  	</div>
	  </div>
      <div class="row">
	    <div class="col-4">
          <%= auction.label :amount, 'Monto minimo' %>
    	  <%= auction.text_field :amount, class: 'form-control', placeholder: "Ingrese el monto minimo", required: true %>
        </div>
      </div>
      <div class="row">
      	<div class="col-4">
      		<%= auction.label :in_date, 'Fecha de inicio' %>
      		<%= auction.date_field :in_date, class: 'form-control'%>
        </div>
      </div>
      <div class="row">
      	<div class="col-4">
      		<%= auction.label :out_date, 'Fecha final' %>
      		<%= auction.date_field :out_date, class: 'form-control'%>
        </div>
      </div>
      <div class="row">
	  	<div class="col-4">
	  	    <%= auction.label :residence_id, 'Identificador de la residencia'%>
	  		<%= auction.number_field :residence_id, :value => @auction.residence_id, class: 'form-control' %>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-4">
	  	    <%= auction.label :bid, 'Puja actual'%>
	  		<%= auction.number_field :bid, :value => @auction.bid, class: 'form-control' %>
	  	</div>
	  </div>
	</div>
	<%= auction.submit 'guardar', class: 'btn btn-success' %>
	<%= link_to 'volver', residences_path, class: 'btn btn-link' %>
<%end%>
</div>