<div class="container">
<%= form_for @auction do |auction| %>
	<div class="form-group">
	  <div class="row">
	  	<div class="col-4">
	  	    <h3><%= auction.label :name, @auction.residence.name%></h3>
	  	    <%= auction.hidden_field :residence_id%>
	  	    <%= auction.hidden_field :bid%>
	  	</div>
	  </div>
      <div class="row">
	    <div class="col-4">
          <%= auction.label :amount, 'Monto minimo' %>
    	  <%= auction.text_field :amount, class: 'form-control', placeholder: "Ingrese el monto minimo", required: true %>
        </div>
      </div>
      <div class="row">
      	<div class="col-4">
      		<%= auction.label :in_date, 'Fecha de inicio' %>
      		<%= auction.date_field :in_date, class: 'form-control', required: true %>
        </div>
      </div>
      <div class="row">
      	<div class="col-4">
      		<%= auction.label :out_date, 'Fecha final' %>
      		<%= auction.date_field :out_date, class: 'form-control', required: true %>
        </div>
      </div>
	</div>
	<%= auction.submit 'guardar', class: 'btn btn-success' %>
	<%= link_to 'volver', residences_path, class: 'btn btn-link' %>
<%end%>
</div>