<head>
	<title>HomeSwitchHome</title>
</head>
<body>
	<div class="container">
		<%=form_for @auction do |auction|%>
		  <div class="row">
		  	<div class="col-8">
		  		<img src="<%=@auction.residence.photo%>" width="700"> 
		  	</div>
		  	<div class="col-4">
		  	  <div class="container">
		  	    <div class="row">
		  	      <div class="col-12">
		   		    <h3><%= auction.label :name, @auction.residence.name%></h3>
		   		  </div>
		   		</div>
		   		<div class="row">  
		    	  <div class="col-12">
		    	    <h3> Puja: $<%= auction.label :bid, @auction.bid%></h3>
		    	  </div>
		    	</div>
		    	<div class="row">
		    		<%= auction.label :bid, 'Puja'%>
		    		<%= auction.number_field :bid, :value => @auction.bid, min: @auction.bid+1,class: 'form-control'	%>
		    	</div>
		    	<div class="row">
		    		<%= auction.submit 'Guardar', class: 'btn btn-success' %>
	                <%= link_to 'Volver', auctions_path, class: 'btn btn-link' %>
		    	</div>
		  	  </div>
		  	</div>
		  </div>
		<%end%>
	</div>
</body>