<h3>Subastas</h3>
<table class="table">
	<thead>
		<tr>
			<th width="10%">Nombre</th>
			<th width="10%">Puja</th>
			<th width="40%">Foto</th>
			<th width="10%">Fecha inicio</th>
			<th width="5%"></th>
			<th width="5%"></th>
			<th width="5%"></th>
			<th colspan="7"></th>
		</tr>
	</thead>
	<tbody>
		<% @auctions.each do |auction| %>
			<tr>
				<%@cumple=true%>
				<%if !(auction.in_date-6.month<=Time.now and auction.in_date-6.month+4.days>Time.now) %>
				  <%@cumple=false%>
				<%end%> 
				<% current_user.reservations.each do |r| %>
					<% if r.in_date == auction.in_date %>
					<% @cumple=false %>
					<%end%>
				<%end%>
				<% if @cumple %>
					<td><%= link_to auction.residence.name, new_bid_path(:auction => auction.id, :user => current_user.id) %></td>
				<%else%>
					<td><%=auction.residence.name%></td>
				<%end%>
				<% if auction.bids.count > 0 %>
					<td>$<%= auction.bids.order(amount: :desc).first.amount %></td>
				<%else%>
					<td>$0</td>
				<%end%>
				<td><img src="<%= auction.residence.photo%>" width="300"></td>
				<td><%= (auction.in_date-6.month).strftime("%d-%m-%Y") %></td>
				<% if current_user.admin %>
					<% if auction.in_date-6.month+4.days<=Time.now%>
						<td><%= link_to 'Determinar ganador', auction_winner_path(:id => auction.id), class: 'btn btn-primary', data: { confirm: '¿realmente desea determinar el ganador' } %></td>
					<%else%>
						<td><button type="button" class="btn btn-primary" disabled>Determinar ganador</button></td>
					<%end%>
					<td><%= link_to 'Editar', edit_auction_path(auction), class: 'btn btn-warning' %></td>
					<td><%= link_to 'Eliminar', auction, method: :delete, class: 'btn btn-danger', data: { confirm: '¿realmente desea eliminar la subasta?' } %></td>
				<%end%>
			</tr>
		<% end %>
	</tbody>
</table>
</br>