<h3>Nueva subasta</h3>

<%= form_for @auction do |auction| %>
	<div class="form-group">
      <div class="row">
	    <div class="col-4">
          <%= auction.label :amount, 'Monto minimo' %>
    	  <%= auction.text_field :amount, class: 'form-control', placeholder: "ingrese el monto minimo", required: true %>
        </div>
      </div>
	</div>
	<%= auction.submit 'guardar', class: 'btn btn-success' %>
	<%= link_to 'volver', auctions_path, class: 'btn btn-link' %>
<%end%>	