<div class="container">
	<h1>Crear una nueva residencia</h1>

	<%= form_for @residencia, :url => residencias_path do |r| %>
		<div class="row">
			<div class="col-md-4">
				<%= r.label :nombre, 'Nombre' %>
				<%= r.text_field :nombre, class: 'form-control', label: 'Nombre', placeholder: 'Ingrese el nombre' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= r.label :pais, 'Pais' %>
				<%= r.text_field :pais, class: 'form-control', label: 'Pais', placeholder: 'Ingrese el pais' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= r.label :direccion, 'Direccion' %>
				<%= r.text_field :direccion, class: 'form-control', label: 'direccion', placeholder: 'Ingrese la direccion' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= r.label :capacidad, 'Capacidad' %>
				<%= r.number_field :capacidad, class: 'form-control', label: 'Capacidad', placeholder: 'Ingrese la capacidad' %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= r.label :foto, 'Foto' %>
				<%= r.text_field :foto, class: 'form-control', label: 'Foto', placeholder: 'Ingrese la imagen' %>
			</div>
		</div>
		<%= r.submit "Crear Residencia", class: 'btn btn-primary' %>
	<%end%>
	
</div>