<!DOCTYPE html>
<html>
<head>
	<title>HomeSwitchHome</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!-- PROBAR SI NO SACAR -->
</head>
<body>
  <!-- LO SAQUE DE LA PAGINA bootsnipp.com/snippets/NjRBp-->
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="<%= @residencia.foto %>" alt="<%= @residencia.nombre %>" title="<%= @residencia.nombre %>" width="500" height="500" />
        </div>
        <div class="col-md-6">
            <blockquote>
                <p><%= @residencia.nombre %></p> <small><cite title="Source Title"><%= @residencia.direccion %>, <%= @residencia.pais %>  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> Capacidad: <%= @residencia.capacidad %></p>
        </div>
    </div>
</div>
</body>
</html>