<!DOCTYPE html>
<html>
<head>
	<title>HomeSwitchHome</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="<%= @residence.photo %>" alt="<%= @residence.name %>" title="<%= @residence.name %>" width="500" />
        </div>
        <div class="col-md-6">
            <blockquote>
                <p><%= @residence.name %></p> <small><cite title="Source Title"><%= @residence.address %>, <%= @residence.country %>  <i class="glyphicon glyphicon-map-marker"></i></cite></small>
            </blockquote>
            <p> Capacidad: <%= @residence.capacity %></p>
            <% if current_user.premium %>
            <%= link_to 'Reservar', new_reservation_path(:residence => @residence.id), class: 'btn btn-primary'%>
            <%end%>
        </div>
    </div>
    <%= link_to 'Volver', residences_path, class: 'btn btn-primary'%>
</div>

</body>
</html>